*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
 	
	background-color:ghostwhite;
	
}
.wrapper{
	margin:0 auto;
	
}

ul{
	list-style-type: none;
}

picture img{
	max-width: 100%;
}

li{
	float: left;
	margin-left: 4px;
}




